$xl: 1340px;
$lg: 1200px;
$md: 968px;
$block: 829px;

.projectWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
  width: 100%;
  height: 100%;

  @media screen and (max-width: $block) {
    display: none;
  }

  .container {
    width: 1440px;
    display: flex;
    flex-direction: column;

    .imgBlock {
      height: 730px;
      position: relative;
      margin-top: 60px;
      padding: 0 20px;

      @media screen and (max-width: $xl) {
        height: 650px;
        position: relative;
        margin-top: 50px;
        padding: 0 20px;
      }

      @media screen and (max-width: $lg) {
        height: 620px;
        position: relative;
        margin-top: 50px;
        padding: 0 20px;
      }

      @media screen and (max-width: $md) {
        height: 600px;
        position: relative;
        margin-top: 40px;
        padding: 0 20px;
      }

      li {
        transform: rotate(45deg);
        width: 210px;
        height: 210px;
        border-radius: 30px;
        position:absolute;

        @media screen and (max-width: $xl) {
          width: 180px;
          height: 180px;
          border-radius: 25px;
        }

        @media screen and (max-width: $lg) {
          width: 160px;
          height: 160px;
          border-radius: 25px;
        }

        @media screen and (max-width: $md) {
          width: 140px;
          height: 140px;
          border-radius: 20px;
        }

        .links {
          width: 100%;
          height: 100%;
          display: flex;  
          align-items: center;
          justify-content: center;

        span {
          display: flex;
          align-items: center;
          justify-content: center;
          transform: rotate(315deg);
          font-size: 30px;
          font-weight: 300;
          font-family: 'Audiowide';
          text-align: center;
          color: white;

            @media screen and (max-width: $md) {
              font-size: 24px;
            }
          }
      }
    }

      .grey {
        transform: rotate(45deg);
        width: 210px;
        height: 210px;
        border-radius: 30px;
        position: absolute;
        border: 4px solid #BDBDBD;
        top: 25%;
        left: 43%;

        @media screen and (max-width: $xl) {
          width: 180px;
          height: 180px;
          border-radius: 25px;
        }

        @media screen and (max-width: $lg) {
          width: 160px;
          height: 160px;
          border-radius: 25px;
        }

        @media screen and (max-width: $md) {
          width: 140px;
          height: 140px;
          border-radius: 20px;
        }

      }

      .orange {
        transform: rotate(45deg);
        width: 210px;
        height: 210px;
        border-radius: 30px;
        position: absolute;
        border: 4px solid #F6C222;
        top: 66%;
        left: 43%;

        @media screen and (max-width: $xl) {
          width: 180px;
          height: 180px;
          border-radius: 25px;
        }

        @media screen and (max-width: $lg) {
          width: 160px;
          height: 160px;
          border-radius: 25px;
        }

        @media screen and (max-width: $md) {
          width: 140px;
          height: 140px;
          border-radius: 20px;
        }

      }

      .img1{
        top: 4%;
        right: 30.2%;
        position: absolute;
        overflow: hidden;
        width: 210px;
        height: 210px;

        @media screen and (max-width: $xl) {
          width: 180px;
          height: 180px;
          border-radius: 25px;
        }

        @media screen and (max-width: $lg) {
          width: 160px;
          height: 160px;
          border-radius: 25px;
        }

        @media screen and (max-width: $md) {
          width: 140px;
          height: 140px;
          border-radius: 20px;
        }


        .justPhoto1 {
          transform: rotate(315deg);
          position: absolute;
          z-index: -1;
          top: -50px;
          left: -50px;
          width: 300px;
          height: 300px;
          object-fit: cover;

          @media screen and (max-width: $xl) {
            width: 270px;
            height: 270px;
            border-radius: 25px;
          }

          @media screen and (max-width: $lg) {
            width: 240px;
            height: 240px;
            border-radius: 25px;
          }

          @media screen and (max-width: $md) {
            width: 215px;
            height: 215px;
            border-radius: 20px;
          }
  
        }
      }

      .img2{
        top: 47%;
        left: 6%;
        position: absolute;
        overflow: hidden;
        width: 210px;
        height: 210px;

        @media screen and (max-width: $xl) {
          width: 180px;
          height: 180px;
          border-radius: 25px;
        }

        @media screen and (max-width: $lg) {
          width: 160px;
          height: 160px;
          border-radius: 25px;
        }

        @media screen and (max-width: $md) {
          width: 140px;
          height: 140px;
          border-radius: 20px;
        }


        .justPhoto2 {
          transform: rotate(315deg);
          z-index: -1;
          top: 0;
          left: 0;
          width: 300px;
          height: 300px;
          object-fit: cover;

          @media screen and (max-width: $xl) {
            width: 250px;
            height: 250px;
            border-radius: 25px;
          }

          
          @media screen and (max-width: $lg) {
            width: 210px;
            height: 210px;
            border-radius: 25px;
          }

          @media screen and (max-width: $md) {
            width: 180px;
            height: 180px;
            border-radius: 20px;
          }
  
        }
      }

      .img3{
        top: 45.5%;
        left: 30.5%;
        position: absolute;

        &:hover {
          background-image: url(../../../assets/img/helloIT.png);
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;

          span {
            display: none;
          }
        }
    }



      .img4{
        top: 45.5%;
        left: 55%;
        position: absolute;

        &:hover {
          background-image: url(../../../assets/img/sdu.png);
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          z-index: 9999;

          span {
            display: none;
          }
        }
      }

      .img5{
        top: 46%;
        left: 79%;
        position: absolute;

        @media screen and (max-width: $xl) {
          top: 45%;
          left: 79%;
        }

        &:hover {
          background-image: url(../../../assets/img/alaiku.png);
          background-size: contain;
          background-position: center;
          background-repeat: no-repeat;
          z-index: 9999;

          span {
            display: none;
          }
        }
      }

      .img6{
        top: 25.5%;
        left: 18%;
        position: absolute;

        &:hover {
          background-image: url(../../../assets/img/aliboss.png);
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          z-index: 9999;

          span {
            display: none;
          }
        }
      }

      .img7{
        right: 18%;
        top: 25%;
        position: absolute;

        &:hover {
          background-image: url(../../../assets/img/TexPro.png);
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          z-index: 9999;

          span {
            display: none;
          }
        }
      }
    }
  }
}
