.service {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0;

.container {
  width: 1440px;
  display: flex;
  flex-direction: column;
  position: relative;

  @media (max-width:886px) {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
  }

  .bg {
    position: absolute;
    z-index: -1;
    transform: rotate(0deg);
    top: 15%;
    right: 0%;
  }

  .graphBlock {
    margin: 160px 0 0 5rem;

    @media (max-width:886px) {
      width: auto;
      margin-left: 0;
    }

    @media (max-width:426px) {
      margin-top: 40px;
    }

    img {

      @media (max-width:769px) {
        width: 100%;
        height: 100%;
      }

      @media (max-width:426px) {
        display: none;
      }

      &.mobileCircle {
        display: none;

        @media (max-width:426px) {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
}
