.formInput {
  padding: 18px 16px;
  background-color: #f2f2f2;
  border: 0;
  border-radius: 15px;
  color: #828282;
  font-size: 16px;
  outline-color: #BDBDBD;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  border: 1px solid transparent;

  @keyframes horizontal-shaking {
    0% {
      transform: translateX(0)
    }

    25% {
      transform: translateX(5px)
    }

    50% {
      transform: translateX(-5px)
    }

    75% {
      transform: translateX(5px)
    }

    100% {
      transform: translateX(0)
    }
  }
}

.inputEmpty {
  padding: 18px 16px;
  background-color: #f2f2f2;
  border-radius: 15px;
  color: #828282;
  font-size: 16px;
  // border: 2.5px solid #de4f54;
  outline: 2.5px solid #de4f54;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  border: 0;

  &::placeholder {
    color: #de4f54;
  }
}