@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
  font-family: 'Audiowide', cursive;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  outline: none;
  color: inherit;
}

a:active, a:focus, a:visited, li:focus, li:active {
  outline: none !important;
  border: none !important;        
  text-decoration: none !important;
  box-shadow: none !important;
  -moz-outline-style: none !important;
  -webkit-tap-highlight-color: transparent !important;
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  user-select: none;
}
