.headerBanner {
  width: 1440px;
  height: 510px;
  display: flex;
  justify-content: space-between;
  padding: 2rem 4rem;
  margin: 0 auto;
  font-family: 'Audiowide', cursive;

  @media (max-width:1441px) {
    width: 100%;
    justify-content: space-around;
  }

  @media (max-width:1200px) {
    flex-direction: column-reverse;
    height: auto;
    align-items: center;
    gap: 60px;
    padding: 0 4rem;
    margin-top: 60px;
  }

  @media (max-width:769px) {
    padding: 0;
  }

  .headerBannerContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 52px;

    @media (max-width:426px) {
      width: 100%;
      padding: 0 1rem;
    }

    .contentInner {
      display: flex;
      flex-direction: column;
      gap: 30px;

      @media (max-width:426px) {
        gap: 20px;
      }

      h1 {
        font-size: 40px;
        font-weight: 400;

        @media (max-width:426px) {
          font-size: 30px;
        }

        &:last-child {
          font-size: 48px;
          margin-left: 40px;

          @media (max-width:426px) {
            font-size: 38px;
          }
        }
      }
    }

    .headerBannerBtn {
      width: 291px;
      background-color: #6EA2C9;
      color: white;
      padding: 10px 24px;
      border-radius: 15px;
      border: 0;
      cursor: pointer;
      font-size: 24px;
      transition: 0.3s;
      font-family: 'Audiowide', cursive;

      &:hover {
        opacity: 0.8;
      }

      @media (max-width:769px) {
        width: auto;
      }
    }
  }

  .bannerRectangles {
    height: auto;
    display: flex;
    align-items: center;

    @media (max-width:769px) {
      width: 341px;
      height: 271px;
      position: relative;
      justify-content: center;
    }

    @media (max-width:342px) {
      width: 100%;
    }

    .yellowRectangle {
      width: 270px;
      height: 270px;
      background-color: transparent;
      border: 5px solid #F2C94C;
      border-radius: 40px;
      transform: rotate(-49.58deg);

      @media (max-width:769px) {
        width: 190px;
        height: 190px;
        position: absolute;
        left: 0;
      }

      @media (max-width:500px) {
        border-width: 2.5px;
      }

      @media (max-width:386px) {
        left: 30px;
      }

      @media (max-width:321px) {
        width: 140px;
        height: 140px;
        border-radius: 18px;
      }
    }

    .blueRectangle {
      width: 358px;
      height: 358px;
      background-color: transparent;
      border: 5px solid #6EA2C9;
      border-radius: 40px;
      transform: rotate(-49.58deg);
      padding: 1rem;

      @media (max-width:769px) {
        width: 250px;
        height: 250px;
        position: absolute;
        right: 0;

      }

      @media (max-width:500px) {
        width: 230px;
        height: 230px;
        padding: 8px;
        border-width: 2.5px;
        right: 30px;
      }

      @media (max-width:321px) {
        width: 190px;
        height: 190px;
        right: 40px;
        border-radius: 22px;
      }

      .blueInnerRectangle {
        width: 100%;
        height: 100%;
        background-color: #6EA2C9;
        border-radius: 30px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 80%;
          border-radius: 20px;

          @media (max-width:500px) {
            width: 75%;
          }
        }
      }
    }
  }
}